<idea-plugin>
    <id>com.francma.intellij.everforest</id>
    <name>Everforest Theme</name>
    <version><%= ${VERSION} %></version>
    <vendor email="me@martinfranc.eu" url="https://martinfranc.eu">Martin Franc</vendor>

    <description><![CDATA[
        Port of <a href="https://github.com/sainnhe/everforest">sainnhe/everforest</a> theme for JetBrains based IDEs.
        This project is currently WIP, take look at <a href="https://github.com/francma/everforest-jetbrains">README.md</a> for details.
    ]]></description>

    <idea-version since-build="191"/>

    <depends>com.intellij.modules.platform</depends>

    <extensions defaultExtensionNs="com.intellij">
        <themeProvider id="b3d8012a-5ddd-4068-9166-f1bd8a84cdae" path="/theme/everforest_dark_hard.theme.json"/>
        <themeProvider id="5d923768-ccaf-4f6a-b4d3-d04047e5c87b" path="/theme/everforest_dark_medium.theme.json"/>
        <themeProvider id="e47bfefe-a0f9-468d-aa87-0813daf436fd" path="/theme/everforest_dark_soft.theme.json"/>
        <themeProvider id="4e8aea2b-093b-40be-87e3-be522baf8e7f" path="/theme/everforest_light_hard.theme.json"/>
        <themeProvider id="83997194-0b86-4032-9430-7dab362e53a2" path="/theme/everforest_light_medium.theme.json"/>
        <themeProvider id="82f2f064-1bb9-4bd0-a68e-9779126cfd3f" path="/theme/everforest_light_soft.theme.json"/>
    </extensions>
</idea-plugin>